// Colors
$black:     #1C1C1C;
$white:     #FFF;
$grey:      #efe8d8;
$main:      #e42c64;
$alt:       #00F5ED;
$off:       #6b48ff;

// Media Queries
$mobileSm:      400px;
$mobile:        768px;
$tablet:        992px;
$tabletLg:      1200px;
$desktop:       1400px;
$desktopLg:     1600px;

// Motion
$motion:        cubic-bezier(0.45, 0.05, 0.55, 0.95);
$m:             0.15s;

// Font families
$font-main: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-off: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Various
$u:          8px;
$directions: (
  t:  top,
  r:  right,
  b:  bottom,
  l:  left
);
